@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Slab", serif;
}
h1 {
  border-top-right-radius: 18rem;
  border-bottom-left-radius: 18rem;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  background-color: #643645;
  color: #d8f337;
  background-color: orangered;
  color: aliceblue;
  font-style: italic;
  font-family: "Rampart One", cursive;
}
div {
  text-align: justify;
  color: aqua;
  border: 4px solid;
  background-color: white;
  opacity: 0.9;
  margin-bottom: 1rem;
  width: 58%;
  font-size: 1.5rem;
  font-family: "Rampart One", cursive;
  margin: AUTO;
  padding: 1rem;
  font-weight: bolder;
}
img {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  /* border: 4px solid black; */
}
body {
  /* background-color: #191818d9;
   */
  background-image: url("images\ \(2\).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#jsbap {
  width: 63%;
  margin: auto;
  border-radius: 2rem;
  padding: 0.4rem;
  background-color: red;
  color: #fffbfb;
  border: 5px solid black;
}
#AIh1 {
  background-color: whitesmokergb(206, 206, 206);
  font-family: "Rampart One", cursive;
  text-align: justify;
  width: 59%;
  color: red;
  margin: auto;
  border-radius: 3rem;
  padding: 1rem;
  background-color: red;
  color: #fffbfb;
  border: 5px solid black;
}
p {
  font-size: 2rem;
  /* color: w]; */
  color: white;
  text-align: justify;
  display: block;
  width: 58%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: black;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 3px solid white;
}
#ct {
  width: 45%;
  margin: auto;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: red;
  color: #fffbfb;
  border: 5px solid black;
}
.footer1 {
  display: block;
  width: 97%;
  border: none;
}
.footer-header {
  border: 4px solid black;
  border-radius: 13px;
  text-align: center;
  font-size: 3rem;
  color: black;
}
ul {
  display: flex;
  /* text-align: center; */
  list-style: none;
  letter-spacing: 4px;
}
/* #li1 {
  margin-left: 26rem;
}
.li2 {
  margin-left: 2rem;
} */
a.link {
  padding: 3rem;
  font-size: 2rem;
}
div.centre {
  border: none;
}
