@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
:root{
    --primary-color:#6EE7B7;
    
    --off-white:#dcfce7d4;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Baloo Tammudu 2', cursive;
}
.brand{
    color: whitesmoke;
    text-align: left;
    padding-top: 0.5rem;
    padding-left: .5rem;
    font-size: 1.5rem;
}
.active-link{
    font-weight: bold;
    color: tomato;
}
.nav{
    height: 7.5rem;
    text-align: right;
    background-color:var(--primary-color);   
    border-bottom-left-radius: 30px;
}
.nav h2{
    text-align: left; 
    margin: 0px;
   color: white; 
}
.list  {
    list-style: none;
    
}

.list , .nav-list {
    list-style: none;
    display: inline; 
}
.list , .nav-list,a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 6px;
}
.list , .nav-list,a:hover {
    color: tomato;
    font-size: 1.5rem;
}
.header{
    padding: 1rem;
    padding-top: 5rem;
}
.header .header-img{
    max-width: 340px;
    display: block;
    margin: auto;
}
.header-heading{
    text-align: center;
    
}
.header-heading span{
    color: var(--primary-color);
}
.ow{
    background-color:var(--off-white);
}
.container-center{
    max-width: 600px;
    margin: auto;
    
}
.container{
    
    /* display: block; */
    padding-left: 3rem;
}
h3{
    font-size: 2.4rem;
    margin: 14px 0px;
    color: tomato;
    padding-top: 1rem;
}
p{
    font-size: 1.3rem;
    margin: auto;
}
strong{
    color: tomato;

}
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem; 
    padding-bottom: 0px;
}
.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    /* padding: 0.5rem 1rem; */
    border: 1px solid var(--primary-color);
    color: white;
}
.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer-header{
    font-size: 2.5rem;
    color: tomato;
}
.footer1{
    margin-top: 3px;
    border-top-right-radius: 1rem;
    background-color: var(--primary-color);
}
.social-links{
    padding: 0px;
}
.project-li div li{
    list-style: none;
}
.project-li div li h1{
    margin: 0px;
    color: darkorange;
}
small{
    color: darkred;
    font-size: 1rem;
}
.project-li .container{
    padding-left: 0px;
}
.project-li div li a{
    color: darkred;
     border: 2px solid black;
     border-radius: 1rem;
    /* background-color: var(--primary-color); */
} 
/* button{
    padding: 1rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-size: 1rem;
} */
button{
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    /* color: rgb(255, 255, 255); */
    font-size: 1rem;
    border: 1px solid var(--primary-color);
}
.btn{
    color: var(--primary-color);
    background-color: white;
}